################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Traffic-is-Bad/v17
/csv/US_Accidents_2022.csv
/csv/US_Accidents_2022.zip
/.vs
/api/Traffic_is_Bad_API/.vs/Traffic_is_Bad_API
/api/Traffic_is_Bad_API
/api/Traffic is Bad/.vs/Traffic is Bad
/csv/US_Accidents_2022_Data.csv
/csv/US_Accidents_2022_Data.zip
/api/Traffic is Bad/JSON Prelim